/* Write your CSS here */
.language-filter-item-container {
  color: #1e293b;
  margin-right: 1.5rem;
  margin-bottom: 1.5rem;
  border: none;
}

.language-filter-item-button {
  border: none;
  cursor: pointer;
  background: none;
  outline: none;
  color: inherit;
  font-size: 1rem;
  font-weight: 600;
  padding: 0.5rem 1rem;
}

.selected-language {
  color: #0284c7;
  border: 0.1rem solid #0284c7;
  border-radius: 2rem;
}
